.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height:60px ;
    font-size: 25px;
    color: #555;
}

.title::after{
    content: " ";
    background: hsl(7, 100%, 47%);
    width: 80px;
    height: 5px; 
    position: absolute; 
    bottom: 0;
    left: 50%; 
    transform: translateX(-50%);

}
.title-half{
    color: tomato;
}
.card-img{
    width: 100%; 
    transition: transform 0.5s;
    border: none;
}
.card-img:hover{
    transform: translateX(10px);
}
.price{
    font-size: 25px;
}
.btn-buy{
    background: #ff523b;
    color: white;
    font-weight: 500; 
    /* margin: 10px; */
    border: none; 
    padding: 5px; 
    border-radius: 5px; cursor: pointer; 
    transition: background 0.5s;
}
.btn-buy:hover{
    background: #563434;
}

.ratings{
    margin-top: -10px;
}
.star{
    color: gold;
}
.star-half{
    color: rgb(168, 153, 153);

}