.card-img{
    transition: transform 0.5s;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    border: none;
}
.card-img:hover{
    transform: translateX(10px)
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height:60px ;
    font-size: 30px;
    color: #555;
}

.title::after{
    content: " ";
    background: hsl(7, 100%, 47%);
    width: 80px;
    height: 5px; 
    position: absolute; 
    bottom: 0;
    left: 50%; 
    transform: translateX(-50%);

}
.title-half{
    color: tomato;
}
.card{
    width:100%;
}
.card-price{
    font-size:20px;
}
.btn-buy{
    border:none;
    background-color: tomato;
    border-radius:5px;
    color: white;
    transition: background 0.5s;

}
.btn-buy:hover{
    background: gray;
    color: black;
}

.ratings{
    color:gold;
    margin-top: 4px;
}
.card-text{
    color: gray;
    font-size:14px ;
}