.login-form input{
    width: 100%;
    margin-top: 13px;
    padding: 5px;
    font-size: 17px;
    border: 1px solid gray;
    border-radius: 5px;
}
.col-left{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
   
}
.login-img{
    
    width: 80%;
    height: 80%;
    transition: all 0.5s ease-in-out;
}
.login-img:hover{
    transform: scale(1.1);
}
#submit-btn{
    background-color: tomato;
    border: 1px solid #dbd4d4;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.5s ease;
}
#submit-btn:hover{
    background-color: #fff;
    color: #000000da;
    font-weight: 600;
}
.social-btn button{
    padding: 5px;
    width: 60%;
    margin-top: 10px;
    background-color: white;
    border: 1px solid rgb(141, 133, 133);
    border-radius: 10px;
    font-size: 18px;
}
.social-btn button:hover{
    color: tomato;
    background-color: #fff9f9;
    font-size: 18px;
}
.create-btn{
    border: none;
    background-color: white;
    color: blue;
    font-weight: bold;
}
.create-btn:hover{
    text-decoration: underline;
}