.offer{
    margin-top: 100px;
    padding:30px;
    background: radial-gradient(#fff, #ffd6d6);
}
.offer-title{
    font-weight: bold;
}
.col-left{
    display: flex;
    justify-content:center;
    align-items: center;
}
.offer-image{
    height: 350px;
    transition: transform 0.5s;
}
.offer-image:hover{
    transform: translateY(10px);
}


.text-offer{
    text-align: left;
    max-width: 415px;
    padding: 30px;
    margin-top: 7px;

}
.offer-description{
    color: gray;
}
