.order-container{
    margin: auto;
    text-align:center;
}
.table-container{
    width:80%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:  wrap;

}
hr{
    width: 151px;
    background: tomato;
    margin-top: -7px;
}
.pay-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 8px 22px 8px 22px;
    background: tomato;
    margin-top: 46px;
    border-radius: 5px;
    color: white;
    transition: background 0.5s;
}
.pay-btn:hover{
    background: gray;
}