.col-all{
    position: relative;
    width: 50%;
  }
.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .col-all:hover .image {
    opacity: 0.3;
  }
  
  .col-all:hover .middle {
    opacity: 1;
  }
.text {
    background-color: tomato;
    color: white;
    margin: 15px;
    font-size: 16px;
    font-weight: 600;
    padding: 4px 47px;
    transition: background .5s ease;
}
.text:hover {
    background: #fff;
    color: #000;
    font-weight: bold;
}
.buy-btn{
    border: none;
    background-color: tomato;
    color: #fff;
    font-weight: 600;
    text-align: center;
    padding: 15px 42px 16px 45px;
    transition: background.5s ;
}
.buy-btn:hover {
 background: #fff;
 color: #000;
 font-weight: bold;
}
@media only screen and (max-width:600px) {
    .feature-style{
       display: flex;
       /* justify-content: center; */
       margin: auto;
       padding: 10px 10px;
       width: 100%;
       align-items: center;
    }
}
