@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
.card{
    border: none;
    
}
.testimonial-style{
    transition: transform 0.5s;
}
.testimonial-style:hover{
    transform: translateX(10px);
}
.test-icon{
    color: tomato;
    width: 50%;
    margin:auto;
    font: 600; font-size:30px;
}
.test-description{
    color: gray;
    text-align: center;
    font-size: 14px;
    margin-bottom: 1px;
}
.test-description:hover{
    color: tomato;
    font-weight: 500;
}
.start-container{
    color: rgb(212, 184, 24);
    width: 27%;
    margin-top: 10px;
    margin: auto;
}

.test-img{
    margin-left: 121px;
    margin-bottom: 20px;
    width: 100px;
    border-radius: 21px;
    height: 104px;
}
.test-title{
    font-weight: 700;
    color: rgba(0, 0, 0, 0.719);
    font-family: 'Oswald', sans-serif;
}
.test-designation{
    color:rgba(128, 128, 128, 0.829);
    font-family: 'Oswald', sans-serif;
}